@import "tailwindcss";

@theme {
  --spacing-550: 34.375rem;
  --spacing-480: 30rem;
  --spacing-443: 27.6875rem;
  --spacing-582: 36.375rem;
  --spacing-9375: 93.75rem
  --color-bgOrange: #fff3e3;
  --color-titleOrange: #b88e2f;
  --color-bgCard: #f4f5f7;
  --color-bgCarrosel: #fcf8f3;
}
